# General files to ignore
**/.git
**/.gitignore
**/.DS_Store
**/node_modules
**/dist
**/build
**/bun.lock
**/poetry.lock
**/__pycache__
**/*.pyc

# Logs and temporary files
**/*.log
**/.env
**/.env.local
**/.vscode
**/.idea
