name: CI 

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  backend-checks:
    name: Lint and Check Formatting of Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Lint backend with Ruff
        uses: astral-sh/ruff-action@v1
        with:
          src: "./backend/app"
          args: "check --output-format=github"

      - name: Check formatting with Ruff
        uses: astral-sh/ruff-action@v1
        with:
          src: "./backend/app"
          args: "format --check"

  frontend-checks:
      name: Lint and Check Formatting of Frontend
      runs-on: ubuntu-latest
      defaults:
        run:
          working-directory: ./frontend

      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Install Bun
          uses: oven-sh/setup-bun@v2
          with:
            bun-version: latest

        - name: Install dependencies
          run: bun install --frozen-lockfile

        - name: Lint with ESLint
          run: bunx eslint . --max-warnings=0

        - name: Check Formatting with Prettier
          run: bunx prettier --check "**/*.{ts,tsx,js,jsx,json}"

  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      - name: Install commitlint
        run: bun install -D @commitlint/cli @commitlint/config-conventional

      - name: Print versions
        run: |
          git --version
          node --version
          bun --version
          bunx commitlint --version

      - name: Validate current commit (last commit) with commitlint
        if: github.event_name == 'push'
        run: bunx commitlint --last --verbose

      - name: Validate PR commits with commitlint
        if: github.event_name == 'pull_request'
        run: bunx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose